
.outer{
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center
}


.inner{
    height: 100px;
    width: 100px;
    background-color: rgb(226, 72, 226);
}